<% provide(:title, "Change password") %>

<div class="container-fluid well span6" style="width:80%;">
	<div class="row-fluid">
        <div class="span8">
			<form action=<%= edit_password_path %> accept-charset="UTF-8" method="post">
			  <%= token_tag %>
			  <input type="hidden" name="_method" value="patch" />
			  <input type="hidden" name="id" value="<%= current_user.id %>" />
			  
			  <label for="password">New Password</label>
			  <input id="password" type="password" name="password" /><br><br>
			  
			  <label for="confirmation">Enter current password</label>
			  <input id="confirmation" type="password" name="old_password" /><br><br>

			  <input type="submit" name="commit" value="Update" class="btn btn-primary" data-disable-with="Update" />
			</form>
		</div>
	</div>
</div>